<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <%- include("partials/head.ejs") %>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <%- include("partials/header.ejs") %> 
        <main>
            <h1>What are we talking about today?</h1>
            <div class="card hoverable">
                <div class="card-image">
                  <img src="https://cdn.pixabay.com/photo/2014/07/08/10/47/team-386673_1280.jpg" alt="community image">
                  <span class="card-title">Twitter-JP</span>
                </div>
        
        </main>
        
        <%-include ("partials/footer.ejs") %>

    </body>
</html>