


<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <%- include("partials/head.ejs") %>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <%- include("partials/headerLogin.ejs") %> 
            <main>
                <form action="/user/login" method="post">
                <fieldset>
                    <legend>Login</legend>
                    <label>Username: <input type="text" name="user" required></label>
                    <label">Password: <input type="password" name="pwd" required></label>
                    <button>Login</button>
    
                </fieldset>
            
        
            </main>
        <%-include ("partials/footer.ejs") %>

    </body>
</html>