
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <%- include("partials/head.ejs") %>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <%- include("partials/header.ejs") %> 
        <main>
            <h1>Create a new post</h1>
            <form action="/post" method="post"> 

                <input type="hidden" name="user" value="<%= user %>"> <br>
                Descritption: <input type="textbox" name="description" ><br><br>
                <button>Submit</button>
            </form>

        </main>
<%-include ("partials/footer.ejs") %>

</body>
</html>

